**From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?**

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing  import MinMaxScaler
np.random.seed(42)

In [42]:
df = pd.read_csv("/energydata_complete.csv")
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [43]:
df.shape

(19735, 29)

In [44]:
df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [45]:
df = df.drop(columns=["date","lights"])

In [46]:
df.shape

(19735, 27)

In [47]:
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [53]:
scaler = MinMaxScaler()

In [54]:
norm_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
norm_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [61]:
x = df.T2
y = df. T6

In [69]:
array = np.array(x)
x_reshaped = array.reshape(-1,1)

In [75]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_reshaped,y, test_size=0.3, random_state=42)

In [77]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [90]:
predictions = classifier.predict(x_test)

In [91]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [93]:
r2 = r2_score(y_test, predictions)
r2.round(2)

0.64

The r2 value is 0.64

**What is the Mean Absolute Error (in two decimal places)?** of the whole dataset

In [97]:
new_x = norm_df.iloc[:,1:]
new_y = norm_df.iloc[:,0]

In [98]:
x_train, x_test, y_train, y_test = train_test_split(new_x,new_y, test_size=0.3, random_state=42)

In [99]:
Model = LinearRegression()
Model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [100]:
new_pred = Model.predict(x_test)

In [102]:
mae = mean_absolute_error(y_test, new_pred)
mae.round(2)

0.05

Mean aboslute Error is 0.05

What is the Residual Sum of Squares (in two decimal places)?

In [106]:
rss = np.sum(np.square(y_test - new_pred))
rss.round(2)

45.35

What is the Root Mean Squared Error (in three decimal places)?

In [108]:
rmse = np.sqrt(mean_squared_error(y_test, new_pred))
rmse.round(3)

0.088

In [ ]:
What is the Coefficient of Determination (in two decimal places)?

In [109]:
r2_value = r2_score(y_test, new_pred)
r2_value.round(2)

0.15

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [110]:
def determine_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [112]:
model_weights = determine_weights_df(Model, x_train, 'Linear_Model_Weight')
model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [113]:
from sklearn.linear_model import  Ridge, Lasso

In [114]:
R_model = Ridge(alpha = 0.4)
R_model.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [115]:
R_preds = R_model.predict(x_test)

In [116]:
R_rmse = np.sqrt(mean_squared_error(y_test, R_preds))
round(R_rmse, 3)

0.088

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [117]:
lasso_model = Lasso(alpha= 0.001)
lasso_model.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [118]:
lasso_preds = lasso_model.predict(x_test)

In [119]:
lasso_weights = determine_weights_df(lasso_model, x_train, 'Lasso_weight')
lasso_weights

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [120]:
non_zero_feature_weight = np.sum(lasso_weights != 0)
non_zero_feature_weight

Features        26
Lasso_weight     4
dtype: int64

What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [121]:
L_rmse = np.sqrt(mean_squared_error(y_test, lasso_preds))

In [122]:

round(L_rmse, 3)

0.094